.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    display: flex;
    
  }
  
  .star {
    position: relative;
    line-height: 30px;
  
    transition: color 0.2s ease;
    color: #ebebeb;
  }
  
  .star:before {
    content: '\2605';
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
  
  .star:hover,
  .star.selected,
  .star:hover ,
  .star.selected {
    transition: color 0.8s ease;
    color: #fdd835;
  }